body{
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: stretch;
  overflow: hidden;

  margin: 0;
  height: 100vh;

  background-color: green;
}

.header {
  background-color: rgb(18, 63, 18);
  text-align: center;
  height: 55px;
  align-content: center;

  font-size: 30px;
}

.content {
  background-color: rgb(48, 151, 48);
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;

  border-top: solid black;
}

.section {
  border: 2px solid black;
  border-radius: 25px;
  padding: 20px;
  background-color: rgb(29, 105, 29);

  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer {
  background-color:aliceblue;
  text-align: center;
  height: 27px;
  color: black;
  align-content: center;
}